{
  "openapi": "3.0.1",
  "info": {
    "title": "FirstPromoter API",
    "version": "1.0",
    "description": "API for managing affiliate commissions"
  },
  "servers": [
    {
      "url": "https://v2.fprom.co/api/v2/affiliate"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/commissions": {
      "get": {
        "summary": "Get all commissions",
        "tags": ["Commissions"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search params. Searches by initial_tier_event.transaction_id, lead.email, lead.uid",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[status]",
            "in": "query",
            "description": "Status filter",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["pending", "approved", "denied"]
            }
          },
          {
            "name": "filters[paid]",
            "in": "query",
            "description": "Paid filter",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["yes", "no"]
            }
          },
          {
            "name": "filters[sale_amount][from]",
            "in": "query",
            "description": "Sale amount from",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filters[sale_amount][to]",
            "in": "query",
            "description": "Sale amount to",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filters[amount][from]",
            "in": "query",
            "description": "Amount from",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filters[amount][to]",
            "in": "query",
            "description": "Amount to",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filters[created_at][from]",
            "in": "query",
            "description": "Created at start date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filters[created_at][to]",
            "in": "query",
            "description": "Created at end date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filters[campaign_id]",
            "in": "query",
            "description": "Campaign ids",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              ]
            }
          },
          {
            "name": "filters[payout_id]",
            "in": "query",
            "description": "Payout ids",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              ]
            }
          },
          {
            "name": "filters[due_period]",
            "in": "query",
            "description": "Due period filter",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["next", "overdue", "custom"]
            }
          },
          {
            "name": "filters[promoter_id]",
            "in": "query",
            "description": "Promoter id",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filters[first_commission]",
            "in": "query",
            "description": "First commission",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["true", "false", "1", "0"]
            }
          },
          {
            "name": "filters[refunded]",
            "in": "query",
            "description": "Refunded reward",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["true", "false", "yes", "no"]
            }
          },
          {
            "name": "filters[fraud_check]",
            "in": "query",
            "description": "Referral fraud check (suspicion)",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "no_suspicion",
                  "same_ip_suspicion",
                  "same_promoter_email",
                  "ad_source"
                ]
              }
            }
          },
          {
            "name": "filters[plan_id]",
            "in": "query",
            "description": "Plan id",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              ]
            }
          },
          {
            "name": "sorting[sale_amount]",
            "in": "query",
            "description": "Sort by sale amount",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "sorting[amount]",
            "in": "query",
            "description": "Sort by amount",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "sorting[created_at]",
            "in": "query",
            "description": "Sort by created_at",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "sorting[referral]",
            "in": "query",
            "description": "Sort by referral",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Commission"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/commissions/export": {
      "get": {
        "summary": "Export all commissions",
        "tags": ["Commissions"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/CommissionFilters"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "202": {
            "description": "Processing request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "We are processing your request. You will receive an email shortly."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Commission": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "approved", "denied"]
          },
          "external_note": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "status_updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "promoter_campaign": {
            "$ref": "#/components/schemas/PromoterCampaign"
          },
          "referral": {
            "$ref": "#/components/schemas/Referral"
          },
          "reward": {
            "$ref": "#/components/schemas/Reward"
          },
          "commission_type": {
            "type": "string",
            "enum": ["sale", "custom"]
          },
          "sale_amount": {
            "type": "number"
          },
          "original_sale_amount": {
            "type": "number"
          },
          "original_sale_currency": {
            "type": "string",
            "nullable": true
          },
          "plan_id": {
            "type": "string",
            "nullable": true
          },
          "tier": {
            "type": "integer"
          },
          "unit": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "is_paid": {
            "type": "boolean"
          }
        }
      },
      "PromoterCampaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "campaign_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "campaign": {
            "$ref": "#/components/schemas/Campaign"
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Referral": {
        "type": "object",
        "nullable": true,
        "properties": {
          "id": {
            "type": "integer"
          },
          "uid": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "Reward": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      }
    },
    "parameters": {
      "AccountId": {
        "name": "Account-ID",
        "in": "header",
        "required": true,
        "description": "Account identifier that specifies which account is making the request",
        "schema": {
          "type": "string",
          "example": "acc_123456"
        }
      },
      "CommissionFilters": {
        "name": "filters",
        "in": "query",
        "description": "Filter parameters",
        "required": false,
        "schema": {
          "type": "object",
          "properties": {
            "status": {
              "type": "string",
              "enum": ["pending", "approved", "denied"]
            },
            "paid": {
              "type": "string",
              "enum": ["yes", "no"]
            }
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Access token passed as a Bearer token in the Authorization header"
      }
    }
  }
}
