{
  "openapi": "3.0.1",
  "info": {
    "title": "FirstPromoter Assets API",
    "version": "2.0.0",
    "description": "API for managing assets in FirstPromoter"
  },
  "servers": [
    {
      "url": "https://firstpromoter.com/api/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/assets": {
      "get": {
        "summary": "Get available assets for current company",
        "tags": ["Assets"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search params. Search by name or url",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[asset_type]",
            "in": "query",
            "description": "Asset type",
            "schema": {
              "type": "string",
              "enum": ["image", "document", "link", "text"]
            }
          },
          {
            "name": "filters[category_id]",
            "in": "query",
            "description": "Category ids. Can be Integer or Array of Integers. If params are 'not_set' will retrieve the assets that have category_id: null.",
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "string",
                  "enum": ["not_set"]
                }
              ]
            }
          },
          {
            "name": "filters[campaign_id]",
            "in": "query",
            "description": "Campaign ids. Can be Integer or Array of Integers",
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              ]
            }
          },
          {
            "name": "filters[created_at][from]",
            "in": "query",
            "description": "created_at start date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filters[created_at][to]",
            "in": "query",
            "description": "created_at end date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Asset"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create assets for current company",
        "tags": ["Assets"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["name", "asset_type"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the asset"
                  },
                  "asset_type": {
                    "type": "string",
                    "enum": ["image", "document", "link", "text"],
                    "description": "Type of the asset"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "File of the asset if asset_type is image or document"
                  },
                  "url": {
                    "type": "string",
                    "description": "URL of the asset"
                  },
                  "category_id": {
                    "type": "integer",
                    "description": "ID of the category"
                  },
                  "allowed_campaign_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Array of allowed campaign IDs"
                  },
                  "content": {
                    "type": "string",
                    "description": "Content. Required for email and social media asset types"
                  },
                  "landing_page_url": {
                    "type": "string",
                    "description": "Landing page url. Optional for social media asset types"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    
    "/assets/batch/update_category": {
      "put": {
        "summary": "Update category of assets for current company",
        "tags": ["Assets"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["category_id"],
                "properties": {
                  "selection": {
                    "type": "object",
                    "properties": {
                      "select_all": {
                        "type": "boolean",
                        "description": "Select all"
                      },
                      "selected_ids": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        },
                        "description": "Selected ids. Required when select_all is false or not present"
                      },
                      "unselected_ids": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        },
                        "description": "Unselected ids. Required when select_all is true"
                      }
                    }
                  },
                  "category_id": {
                    "type": "integer",
                    "description": "ID of the category. If null, category will be removed"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Categories updated successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/assets/{id}": {
      "get": {
        "summary": "Get asset for current company based on id",
        "tags": ["Assets"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the asset",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "summary": "Update asset for current company",
        "tags": ["Assets"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the asset to be updated",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the asset"
                  },
                  "asset_type": {
                    "type": "string",
                    "enum": ["image", "document", "link", "text"],
                    "description": "Type of the asset"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "File of the asset if asset_type is image or document"
                  },
                  "url": {
                    "type": "string",
                    "description": "URL of the asset"
                  },
                  "category_id": {
                    "type": "integer",
                    "description": "ID of the category"
                  },
                  "allowed_campaign_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Array of allowed campaign IDs"
                  },
                  "content": {
                    "type": "string",
                    "description": "Content. Required for email and social media asset types"
                  },
                  "landing_page_url": {
                    "type": "string",
                    "description": "Landing page url. Optional for social media asset types"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/assets/batch/destroy": {
      "delete": {
        "summary": "Delete assets for current company",
        "tags": ["Assets"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "selection": {
                    "type": "object",
                    "properties": {
                      "select_all": {
                        "type": "boolean",
                        "description": "Select all"
                      },
                      "selected_ids": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        },
                        "description": "Selected ids. Required when select_all is false or not present"
                      },
                      "unselected_ids": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        },
                        "description": "Unselected ids. Required when select_all is true"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assets deleted successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Asset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Asset ID"
          },
          "name": {
            "type": "string",
            "description": "Name of the asset"
          },
          "asset_type": {
            "type": "string",
            "enum": ["image", "document", "link", "text"],
            "description": "Type of the asset"
          },
          "url": {
            "type": "string",
            "description": "URL of the asset"
          },
          "category_id": {
            "type": "integer",
            "nullable": true,
            "description": "ID of the category"
          },
          "allowed_campaign_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Array of allowed campaign IDs"
          },
          "content": {
            "type": "string",
            "description": "Content for email and social media asset types"
          },
          "landing_page_url": {
            "type": "string",
            "description": "Landing page URL for social media asset types"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Access token passed as a Bearer token in the Authorization header"
      }
    }
  }
}
