{
  "openapi": "3.0.1",
  "info": {
    "title": "FirstPromoter API",
    "version": "1.0",
    "description": "FirstPromoter Affiliate API documentation"
  },
  "servers": [
    {
      "url": "https://api.firstpromoter.com/api/v2/affiliate"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/reports/overview": {
      "get": {
        "noindex": true,
        "summary": "Get campaigns reports",
        "tags": ["Reports"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "columns",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "active_customers",
                  "monthly_churn",
                  "clicks_count",
                  "net_revenue_amount",
                  "revenue_amount",
                  "referrals_count",
                  "customers_count",
                  "sales_count",
                  "refunds_count",
                  "cancelled_customers_count",
                  "promoter_earnings_amount",
                  "non_link_customers",
                  "referrals_to_customers_cr",
                  "3m_epc",
                  "6m_epc",
                  "clicks_to_customers_cr",
                  "clicks_to_referrals_cr",
                  "promoter_paid_amount",
                  "signups_count"
                ]
              }
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["day", "week", "month", "year"]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sorting",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string",
                "enum": ["asc", "desc"]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReportData"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/reports/sub_ids": {
      "get": {
        "noindex": true,
        "summary": "Get sub_ids report",
        "tags": ["Reports"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "columns",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "clicks_count",
                  "revenue_amount",
                  "promoter_earnings_amount",
                  "referrals_count",
                  "customers_count",
                  "sales_count",
                  "refunds_count",
                  "cancelled_customers_count",
                  "referrals_to_customers_cr",
                  "clicks_to_customers_cr",
                  "clicks_to_referrals_cr"
                ]
              }
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["day", "week", "month", "year"]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sorting",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string",
                "enum": ["asc", "desc"]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SubIdReportData"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/reports/download": {
      "get": {
        "noindex": true,
        "summary": "Download reports",
        "tags": ["Reports"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "report_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["overview", "traffic_sources", "urls", "sub_ids"]
            }
          },
          {
            "name": "totals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "columns",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["day", "week", "month", "year"]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      }
    }
  },
   "components": {
    "parameters": {
      "AccountId": {
        "name": "Account-ID",
        "in": "header",
        "required": true,
        "description": "Account identifier that specifies which account is making the request",
        "schema": {
          "type": "string",
          "example": "acc_123456"
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": ["message", "code"]
      },
      "ReportData": {
        "type": "object",
        "properties": {
          "period": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "revenue_amount": {
                "type": "number"
              },
              "net_revenue_amount": {
                "type": "number"
              },
              "promoter_earnings_amount": {
                "type": "number"
              },
              "customers_count": {
                "type": "integer"
              },
              "referrals_count": {
                "type": "integer"
              },
              "clicks_count": {
                "type": "integer"
              },
              "active_customers": {
                "type": "integer"
              },
              "3m_epc": {
                "type": "number"
              }
            }
          }
        }
      },
      "SubIdReportData": {
        "type": "object",
        "properties": {
          "sub_id": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "clicks_count": {
                "type": "integer"
              },
              "revenue_amount": {
                "type": "number"
              },
              "promoter_earnings_amount": {
                "type": "number"
              },
              "referrals_count": {
                "type": "integer"
              },
              "customers_count": {
                "type": "integer"
              },
              "sales_count": {
                "type": "integer"
              },
              "refunds_count": {
                "type": "integer"
              },
              "cancelled_customers_count": {
                "type": "integer"
              },
              "referrals_to_customers_cr": {
                "type": "number"
              },
              "clicks_to_customers_cr": {
                "type": "number"
              },
              "clicks_to_referrals_cr": {
                "type": "number"
              }
            }
          },
          "sub_data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "period": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "data": {
                  "$ref": "#/components/schemas/SubIdReportData/properties/data"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Access token passed as a Bearer token in the Authorization header"
      },
      "accountId": {
        "type": "apiKey",
        "in": "header",
        "name": "ACCOUNT-ID",
        "description": "Account ID required with bearer token"
      }
    }
  }
}
