{
  "openapi": "3.0.0",
  "info": {
    "title": "FirstPromoter Admin API",
    "version": "1.0.0",
    "description": "Admin API endpoints for managing referrals in FirstPromoter"
  },
  "servers": [
    {
      "url": "https://v2.fprom.co/api/v2/company",
      "description": "Staging server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/referrals": {
      "get": {
        "summary": "Get available referrals",
        "tags": ["Referrals"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "description": "Search params. Searches by email, uid, username, website"
          },
          {
            "in": "query",
            "name": "filters[type]",
            "schema": {
              "type": "string",
              "enum": ["lead", "customer"]
            },
            "description": "Type (lead or customer)"
          },
          {
            "in": "query",
            "name": "filters[state]",
            "schema": {
              "type": "string",
              "enum": [
                "subscribed",
                "signup",
                "active",
                "cancelled",
                "refunded",
                "denied",
                "pending",
                "moved"
              ]
            },
            "description": "State"
          }
        ],
        "responses": {
          "200": {
            "description": "List of referrals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Referral"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create referral",
        "tags": ["Referrals"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["promoter_campaign_id"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "uid": {
                    "type": "string"
                  },
                  "promoter_campaign_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Referral created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Referral"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/referrals/{id}": {
      "get": {
        "summary": "Get referral",
        "tags": ["Referrals"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the referral"
          },
          {
            "in": "query",
            "name": "find_by",
            "schema": {
              "type": "string",
              "enum": ["email", "uid", "username"]
            },
            "description": "Find by attribute"
          }
        ],
        "responses": {
          "200": {
            "description": "Referral details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Referral"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "summary": "Update referral",
        "tags": ["Referrals"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the referral"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "uid": {
                    "type": "string"
                  },
                  "promoter_campaign_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Referral updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Referral"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/referrals/approve": {
      "post": {
        "summary": "Approve referrals",
        "tags": ["Referrals"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchSelectionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch operation completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOperationResponse"
                }
              }
            }
          },
          "202": {
            "description": "Batch operation accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOperationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/referrals/disable": {
      "post": {
        "summary": "Disable referrals",
        "tags": ["Referrals"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchSelectionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch operation completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOperationResponse"
                }
              }
            }
          },
          "202": {
            "description": "Batch operation accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOperationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/referrals/enable": {
      "post": {
        "summary": "Enable referrals",
        "tags": ["Referrals"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchSelectionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch operation completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOperationResponse"
                }
              }
            }
          },
          "202": {
            "description": "Batch operation accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOperationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/referrals/destroy": {
      "delete": {
        "summary": "Delete referrals",
        "tags": ["Referrals"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchSelectionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch operation completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOperationResponse"
                }
              }
            }
          },
          "202": {
            "description": "Batch operation accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOperationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/referrals/move_to_promoter": {
      "post": {
        "summary": "Move referrals to promoter",
        "tags": ["Referrals"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["promoter_campaign_id", "selection"],
                "properties": {
                  "promoter_campaign_id": {
                    "type": "integer",
                    "description": "Destination promoter campaign ID"
                  },
                  "move_associated_commissions": {
                    "type": "boolean",
                    "description": "Move associated commissions",
                    "enum": [true, false]
                  },
                  "selection": {
                    "type": "object",
                    "properties": {
                      "select_all": {
                        "type": "boolean",
                        "description": "Select all referrals"
                      },
                      "selected_ids": {
                        "type": "array",
                        "description": "Selected ids. Required when select_all is false or not present",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "unselected_ids": {
                        "type": "array",
                        "description": "Unselected ids. Required when select_all is true",
                        "items": {
                          "type": "integer"
                        }
                      }
                    }
                  },
                  "filters": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": ["lead", "customer"],
                        "description": "Type (lead or customer)"
                      },
                      "state": {
                        "type": "string",
                        "enum": [
                          "subscribed",
                          "signup",
                          "active",
                          "cancelled",
                          "refunded",
                          "denied",
                          "pending",
                          "moved"
                        ],
                        "description": "State"
                      },
                      "created_at": {
                        "type": "object",
                        "properties": {
                          "from": {
                            "type": "string",
                            "format": "date",
                            "description": "created_at start date"
                          },
                          "to": {
                            "type": "string",
                            "format": "date",
                            "description": "created_at end date"
                          }
                        }
                      },
                      "customer_since": {
                        "type": "object",
                        "properties": {
                          "from": {
                            "type": "string",
                            "format": "date",
                            "description": "customer_since start date"
                          },
                          "to": {
                            "type": "string",
                            "format": "date",
                            "description": "customer_since end date"
                          }
                        }
                      },
                      "cancelled_at": {
                        "type": "object",
                        "properties": {
                          "from": {
                            "type": "string",
                            "format": "date",
                            "description": "cancelled_at start date"
                          },
                          "to": {
                            "type": "string",
                            "format": "date",
                            "description": "cancelled_at end date"
                          }
                        }
                      },
                      "campaign_id": {
                        "oneOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "integer"
                            }
                          }
                        ],
                        "description": "Campaign ids. Can be Integer or Array of Integers"
                      },
                      "promoter_id": {
                        "type": "integer",
                        "description": "Promoter id"
                      },
                      "entry_source": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "api",
                            "coupon",
                            "cookie",
                            "manual_admin",
                            "manual_affiliate"
                          ]
                        },
                        "description": "Entry source params. Accepts array of options"
                      },
                      "fraud_check": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "no_suspicion",
                            "same_ip_suspicion",
                            "same_promoter_email",
                            "ad_source"
                          ]
                        },
                        "description": "Referral fraud check (suspicion). Array accepted"
                      },
                      "plan_id": {
                        "oneOf": [
                          {
                            "type": "integer"
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "integer"
                            }
                          }
                        ],
                        "description": "Plan id"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch operation completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["completed"]
                    },
                    "total": {
                      "type": "integer"
                    },
                    "selected_total": {
                      "type": "integer"
                    },
                    "processed_count": {
                      "type": "integer"
                    },
                    "failed_count": {
                      "type": "integer"
                    },
                    "action_label": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "meta": {
                      "type": "object"
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "processing_errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Batch operation accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "selected_total": {
                      "type": "integer"
                    },
                    "processed_count": {
                      "type": "integer"
                    },
                    "failed_count": {
                      "type": "integer"
                    },
                    "action_label": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "meta": {
                      "type": "object"
                    },
                    "progress": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "processing_errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "id",
                    "status",
                    "total",
                    "selected_total",
                    "processed_count",
                    "failed_count",
                    "action_label",
                    "created_at",
                    "updated_at",
                    "progress",
                    "processing_errors"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "You don't have enough rights to perform this action"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": ["message", "code"]
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": ["invalid_params", "operation_failed"]
                    }
                  },
                  "required": ["message", "code"]
                }
              }
            }
          }
        }
      }
    },
    "/referrals/{id}/import_events": {
      "post": {
        "summary": "Import previous sales from stripe",
        "tags": ["Referrals"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the referral"
          },
          {
            "in": "query",
            "name": "find_by",
            "schema": {
              "type": "string",
              "enum": ["email", "uid", "username"]
            },
            "description": "Find by attribute"
          }
        ],
        "responses": {
          "202": {
            "description": "Import task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOperationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Operation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "AccountId": {
        "name": "Account-ID",
        "in": "header",
        "required": true,
        "description": "Account identifier that specifies which account is making the request",
        "schema": {
          "type": "string",
          "example": "acc_123456"
        }
      }
    },
    "schemas": {
      "Referral": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "uid": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": [
              "subscribed",
              "signup",
              "active",
              "cancelled",
              "refunded",
              "denied",
              "pending",
              "moved"
            ]
          },
          "metadata": {
            "type": "object"
          },
          "entry_source": {
            "type": "string",
            "enum": [
              "api",
              "coupon",
              "cookie",
              "manual_admin",
              "manual_affiliate",
              null
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "customer_since": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "promoter_campaign": {
            "$ref": "#/components/schemas/PromoterCampaign"
          },
          "fraud_check": {
            "type": "string",
            "enum": [
              "no_suspicion",
              "same_ip_suspicion",
              "same_promoter_email",
              "ad_source"
            ]
          },
          "created_by_user_email": {
            "type": "string",
            "format": "email",
            "nullable": true
          }
        }
      },
      "PromoterCampaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "campaign_id": {
            "type": "integer"
          },
          "promoter_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "promoter": {
            "$ref": "#/components/schemas/Promoter"
          },
          "campaign": {
            "$ref": "#/components/schemas/Campaign"
          }
        }
      },
      "Promoter": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "BatchSelectionRequest": {
        "type": "object",
        "properties": {
          "selection": {
            "type": "object",
            "properties": {
              "select_all": {
                "type": "boolean"
              },
              "selected_ids": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "unselected_ids": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          },
          "filters": {
            "$ref": "#/components/schemas/Filters"
          }
        }
      },
      "BatchOperationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "completed"]
          },
          "total": {
            "type": "integer"
          },
          "selected_total": {
            "type": "integer"
          },
          "processed_count": {
            "type": "integer"
          },
          "failed_count": {
            "type": "integer"
          },
          "action_label": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "meta": {
            "type": "object"
          },
          "progress": {
            "type": "integer"
          },
          "processing_errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Filters": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["lead", "customer"]
          },
          "state": {
            "type": "string",
            "enum": [
              "subscribed",
              "signup",
              "active",
              "cancelled",
              "refunded",
              "denied",
              "pending",
              "moved"
            ]
          },
          "created_at": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "date"
              },
              "to": {
                "type": "string",
                "format": "date"
              }
            }
          },
          "customer_since": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "date"
              },
              "to": {
                "type": "string",
                "format": "date"
              }
            }
          },
          "cancelled_at": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "date"
              },
              "to": {
                "type": "string",
                "format": "date"
              }
            }
          },
          "campaign_id": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            ]
          },
          "promoter_id": {
            "type": "integer"
          },
          "entry_source": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "api",
                "coupon",
                "cookie",
                "manual_admin",
                "manual_affiliate"
              ]
            }
          },
          "fraud_check": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "no_suspicion",
                "same_ip_suspicion",
                "same_promoter_email",
                "ad_source"
              ]
            }
          },
          "plan_id": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            ]
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Access token passed as a Bearer token in the Authorization header"
      },
      "accountId": {
        "type": "apiKey",
        "in": "header",
        "name": "ACCOUNT-ID",
        "description": "Account ID required with bearer token"
      }
    }
  }
}
