{
  "openapi": "3.0.1",
  "info": {
    "title": "FirstPromoter Commissions API",
    "version": "2.0.0",
    "description": "API for managing commissions in FirstPromoter"
  },
  "servers": [
    {
      "url": "https://firstpromoter.com/api/v2/company"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/commissions": {
      "get": {
        "summary": "Get all commissions",
        "tags": ["Commissions"],
        
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search params. Searches by initial_tier_event.transaction_id, lead.email, lead.uid",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/CommissionFilters"
            }
          },
          {
            "name": "sorting",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/CommissionSorting"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create a commission manually",
        "tags": ["Commissions"],
        
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommissionCreate"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/commissions/{id}": {
      "put": {
        "summary": "Update a commission",
        "tags": ["Commissions"],
        
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommissionUpdate"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },

    "/commissions/approve": {
      "post": {
        "summary": "Approve commissions",
        "tags": ["Commissions"],
        
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchActionRequest"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/commissions/deny": {
      "post": {
        "summary": "Deny commissions",
        "tags": ["Commissions"],
        
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchActionRequest"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/commissions/mark_fulfilled": {
      "post": {
        "summary": "Mark commissions payout as completed",
        "tags": ["Commissions"],
        
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchActionRequest"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/commissions/mark_unfulfilled": {
      "post": {
        "summary": "Mark commissions payout as pending",
        "tags": ["Commissions"],
        
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchActionRequest"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/commissions/destroy": {
      "delete": {
        "summary": "Delete commissions",
        "tags": ["Commissions"],
        
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchActionRequest"
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CommissionFilters": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["pending", "approved", "denied"]
          },
          "paid": {
            "type": "string",
            "enum": ["yes", "no"]
          },
          "sale_amount": {
            "type": "object",
            "properties": {
              "from": {
                "type": "integer"
              },
              "to": {
                "type": "integer"
              }
            }
          },
          "amount": {
            "type": "object",
            "properties": {
              "from": {
                "type": "integer"
              },
              "to": {
                "type": "integer"
              }
            }
          },
          "created_at": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "date"
              },
              "to": {
                "type": "string",
                "format": "date"
              }
            }
          },
          "campaign_id": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            ]
          },
          "payout_id": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            ]
          },
          "due_period": {
            "type": "string",
            "enum": ["next", "overdue", "custom"]
          },
          "promoter_id": {
            "type": "integer"
          },
          "first_commission": {
            "type": "boolean"
          },
          "refunded": {
            "type": "boolean"
          },
          "fraud_check": {
            "type": "string",
            "enum": [
              "no_suspicion",
              "same_ip_suspicion",
              "same_promoter_email",
              "ad_source"
            ]
          },
          "plan_id": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            ]
          }
        }
      },
      "CommissionSorting": {
        "type": "object",
        "properties": {
          "sale_amount": {
            "type": "string",
            "enum": ["asc", "desc"]
          },
          "amount": {
            "type": "string",
            "enum": ["asc", "desc"]
          },
          "created_at": {
            "type": "string",
            "enum": ["asc", "desc"]
          },
          "referral": {
            "type": "string",
            "enum": ["asc", "desc"]
          }
        }
      },
      "CommissionCreate": {
        "type": "object",
        "required": ["commission_type", "sale_amount", "amount"],
        "properties": {
          "commission_type": {
            "type": "string",
            "enum": ["sale", "custom"]
          },
          "referral_id": {
            "type": "integer"
          },
          "plan_id": {
            "type": "integer"
          },
          "promoter_campaign_id": {
            "type": "integer"
          },
          "sale_amount": {
            "type": "integer"
          },
          "amount": {
            "type": "integer"
          },
          "event_id": {
            "type": "string"
          },
          "event_date": {
            "type": "string",
            "format": "date"
          },
          "internal_note": {
            "type": "string"
          },
          "unit": {
            "type": "string",
            "enum": [
              "cash",
              "credits",
              "points",
              "free_months",
              "mon_discount",
              "discount_per"
            ]
          },
          "notify_promoter": {
            "type": "boolean"
          },
          "billing_period": {
            "type": "string",
            "enum": ["monthly", "yearly", "one_time"]
          }
        }
      },
      "CommissionUpdate": {
        "type": "object",
        "properties": {
          "internal_note": {
            "type": "string"
          },
          "external_note": {
            "type": "string"
          }
        }
      },
      "BatchActionRequest": {
        "type": "object",
        "properties": {
          "selection": {
            "type": "object",
            "properties": {
              "select_all": {
                "type": "boolean"
              },
              "selected_ids": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "unselected_ids": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          },
          "q": {
            "type": "string"
          },
          "filters": {
            "$ref": "#/components/schemas/CommissionFilters"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Access token passed as a Bearer token in the Authorization header"
      }
    }
  }
}
