{
  "openapi": "3.0.1",
  "info": {
    "title": "FirstPromoter API",
    "version": "1.0",
    "description": "API documentation for FirstPromoter promoters management"
  },
  "servers": [
    {
      "url": "https://v2.firstpromoter.com/api/v2/company"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/promoters": {
      "get": {
        "summary": "Get available promoters",
        "description": "With this endpoint you can list all promoters. \n <Tip>**HTTP Request** <br/>`GET https://v2.firstpromoter.com/api/v2/company/promoters`</Tip>",
        "operationId": "getPromoters",
        "tags": ["Promoters"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search params for promoters, search using, email, name or ref_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Filter params",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PromoterFilters"
            }
          },
          {
            "name": "sorting",
            "in": "query",
            "description": "Sorting params",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "clicks_count": {
                  "type": "string",
                  "enum": ["asc", "desc"]
                },
                "referrals_count": {
                  "type": "string",
                  "enum": ["asc", "desc"]
                },
                "customers_count": {
                  "type": "string",
                  "enum": ["asc", "desc"]
                },
                "revenue_amount": {
                  "type": "string",
                  "enum": ["asc", "desc"]
                },
                "joined_at": {
                  "type": "string",
                  "enum": ["asc", "desc"]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Promoter"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create promoter",
        "description": "With this endpoint you can create a promoter. \n <Tip>**HTTP Request** <br/>`POST https://v2.firstpromoter.com/api/v2/company/promoters`</Tip>",
        "operationId": "createPromoter",
        "tags": ["Promoters"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromoterCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Promoter created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Promoter"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/promoters/{id}": {
      "get": {
        "summary": "Get promoter details",
        "description": "With this endpoint you can get the details of a promoter. \n <Tip>**HTTP Request** <br/>`GET https://v2.firstpromoter.com/api/v2/company/promoters/{id}`</Tip>",
        "operationId": "getPromoter",
        "tags": ["Promoters"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "id",
            "description": "Id of the promoter",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "find_by",
            "in": "query",
            "description": "Find by attribute",
            "schema": {
              "type": "string",
              "enum": [
                "email",
                "cust_id",
                "auth_token",
                "ref_token",
                "promo_code"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Promoter"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "summary": "Update promoter",
        "operationId": "updatePromoter",
        "description": "With this endpoint you can update a promoter. \n <Tip>**HTTP Request** <br/>`PUT https://v2.firstpromoter.com/api/v2/company/promoters/{id}`</Tip>",
        "tags": ["Promoters"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the promoter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromoterUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Promoter updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Promoter"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/promoters/{id}/chart_data": {
      "get": {
        "summary": "Get data used for chart",
        "description": "With this endpoint you can get the data used for charts.<Tip>**HTTP Request** <br/>`GET https://v2.firstpromoter.com/api/v2/company/promoters/{id}/chart_data`</Tip>",
        "operationId": "getPromoterChartData",
        "tags": ["Promoters"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id of the promoter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "period_from",
            "description": "From date of the period for the chart, ISO date format (YYYY-MM-DD)",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "period_to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "selection",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "revenue",
                "clicks",
                "referrals",
                "customers",
                "cancellations"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chart data retrieved successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/promoters/accept": {
      "post": {
        "summary": "Accept promoters",
        "description": "With this endpoint you can accept promoters. \n <Tip>**HTTP Request** <br/>`POST https://v2.firstpromoter.com/api/v2/company/promoters/accept`</Tip>",
        "operationId": "acceptPromoters",
        "tags": ["Promoters"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["campaign_id"],
                "properties": {
                  "campaign_id": {
                    "type": "integer",
                    "description": "The ID of the campaign promoter will be accepted to"
                  },
                  "selection": {
                    "$ref": "#/components/schemas/Selection"
                  },
                  "filters": {
                    "$ref": "#/components/schemas/PromoterFilters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Promoters accepted successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/promoters/reject": {
      "post": {
        "summary": "Reject promoters",
        "description": "With this endpoint you can reject promoters. \n <Tip>**HTTP Request** <br/>`POST https://v2.firstpromoter.com/api/v2/company/promoters/reject`</Tip>",
        "operationId": "rejectPromoters",
        "tags": ["Promoters"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["campaign_id"],
                "properties": {
                  "campaign_id": {
                    "type": "integer",
                    "description": "The ID of the campaign promoter will be rejected from"
                  },
                  "selection": {
                    "$ref": "#/components/schemas/Selection"
                  },
                  "filters": {
                    "$ref": "#/components/schemas/PromoterFilters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Promoters rejected successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/promoters/block": {
      "post": {
        "summary": "Block promoters",
        "description": "With this endpoint you can block promoters. \n <Tip>**HTTP Request** <br/>`POST https://v2.firstpromoter.com/api/v2/company/promoters/block`</Tip>",
        "operationId": "blockPromoters",
        "tags": ["Promoters"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["campaign_id"],
                "properties": {
                  "campaign_id": {
                    "type": "integer",
                    "description": "The ID of the campaign promoter will be blocked from"
                  },
                  "selection": {
                    "$ref": "#/components/schemas/Selection"
                  },
                  "filters": {
                    "$ref": "#/components/schemas/PromoterFilters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Promoters blocked successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/promoters/archive": {
      "post": {
        "summary": "Archive promoters",
        "description": "With this endpoint you can archive promoters. \n <Tip>**HTTP Request** <br/>`POST https://v2.firstpromoter.com/api/v2/company/promoters/archive`</Tip>",
        "operationId": "archivePromoters",
        "tags": ["Promoters"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "selection": {
                    "$ref": "#/components/schemas/Selection"
                  },
                  "filters": {
                    "$ref": "#/components/schemas/PromoterFilters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Promoters archived successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/promoters/restore": {
      "post": {
        "summary": "Restore promoters",
        "description": "With this endpoint you can restore promoters. \n <Tip>**HTTP Request** <br/>`POST https://v2.firstpromoter.com/api/v2/company/promoters/restore`</Tip>",
        "operationId": "restorePromoters",
        "tags": ["Promoters"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "selection": {
                    "$ref": "#/components/schemas/Selection"
                  },
                  "filters": {
                    "$ref": "#/components/schemas/PromoterFilters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Promoters restored successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "AccountId": {
        "name": "Account-ID",
        "in": "header",
        "required": true,
        "description": "Account identifier that specifies which account is making the request",
        "schema": {
          "type": "string",
          "example": "acc_123456"
        }
      }
    },
    "schemas": {
      "Promoter": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Id of the promoter"
          },
          "email": {
            "type": "string",
            "description": "Email address of the promoter"
          },
          "cust_id": {
            "type": "string",
            "nullable": true,
            "description": "Cust ID of the promoter"
          },
          "state": {
            "type": "string",
            "enum": [
              "pending",
              "accepted",
              "rejected",
              "blocked",
              "inactive",
              "not_set"
            ],
            "description": "State of the promoter."
          },
          "profile": {
            "$ref": "#/components/schemas/PromoterProfile"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the promoter was created. \n ISO date format `(YYYY-MM-DD HH:MM:SS)`"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the promoter was last updated. \n ISO date format `(YYYY-MM-DD HH:MM:SS)`"
          }
        }
      },
      "PromoterProfile": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "description": "First name of the promoter"
          },
          "last_name": {
            "type": "string",
            "description": "Last name of the promoter"
          },
          "website": {
            "type": "string",
            "description": "Website of the promoter"
          },
          "company_name": {
            "type": "string",
            "description": "Company name of the promoter"
          },
          "phone_number": {
            "type": "string",
            "description": "Phone number of the promoter"
          },
          "vat_id": {
            "type": "string",
            "description": "VAT ID of the promoter"
          },
          "country": {
            "type": "string",
            "description": "Country in 2 characters format",
            "example": "US"
          },
          "address": {
            "type": "string",
            "description": "Address of the promoter"
          },
          "should_validate_invoice_details": {
            "type": "boolean",
            "description": "Should validate invoice details"
          }
        }
      },
      "PromoterCreate": {
        "type": "object",
        "required": ["email", "initial_campaign_id"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the promoter"
          },
          "cust_id": {
            "type": "string",
            "nullable": true,
            "description": "Cust ID of the promoter"
          },
          "profile": {
            "$ref": "#/components/schemas/PromoterProfile"
          },
          "initial_campaign_id": {
            "type": "integer",
            "description": "The ID of the campaign promoter will be added first"
          }
        }
      },
      "PromoterUpdate": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the promoter"
          },
          "cust_id": {
            "type": "string",
            "nullable": true,
            "description": "Cust ID of the promoter"
          },
          "profile": {
            "$ref": "#/components/schemas/PromoterProfile"
          }
        }
      },

      "Selection": {
        "type": "object",
        "properties": {
          "select_all": {
            "type": "boolean",
            "description": "Select all promoters"
          },
          "selected_ids": {
            "type": "array",
            "description": "Selected ids. Required when select_all is false or not present",
            "items": {
              "type": "integer"
            }
          },
          "unselected_ids": {
            "type": "array",
            "description": "Unselected ids. Required when select_all is true",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "PromoterFilters": {
        "type": "object",
        "properties": {
          "revenue_amount": {
            "type": "object",
            "description": "Revenue amount filter",
            "properties": {
              "from": {
                "type": "integer",
                "minimum": 0,
                "description": "Minimum revenue amount"
              },
              "to": {
                "type": "integer",
                "description": "Maximum revenue amount"
              }
            }
          },
          "customers_count": {
            "type": "object",
            "description": "Customers count filter",
            "properties": {
              "from": {
                "type": "integer",
                "minimum": 0,
                "description": "Minimum customers count"
              },
              "to": {
                "type": "integer",
                "description": "Maximum customers count"
              }
            }
          },
          "referrals_count": {
            "type": "object",
            "description": "Referrals count filter",
            "properties": {
              "from": {
                "type": "integer",
                "minimum": 0,
                "description": "Minimum referrals count"
              },
              "to": {
                "type": "integer",
                "description": "Maximum referrals count"
              }
            }
          },
          "clicks_count": {
            "type": "object",
            "description": "Clicks count filter",
            "properties": {
              "from": {
                "type": "integer",
                "minimum": 0,
                "description": "Minimum clicks count"
              },
              "to": {
                "type": "integer",
                "description": "Maximum clicks count"
              }
            }
          },
          "joined_at": {
            "type": "object",
            "description": "Joined at filter",
            "properties": {
              "from": {
                "type": "string",
                "description": "Minimum joined at date, ISO date format (YYYY-MM-DD HH:MM:SS)",
                "format": "date"
              },
              "to": {
                "type": "string",
                "description": "Maximum joined at date, ISO date format (YYYY-MM-DD HH:MM:SS)",
                "format": "date"
              }
            }
          },
          "last_login_at": {
            "type": "object",
            "description": "Last login at filter",
            "properties": {
              "from": {
                "type": "string",
                "format": "date",
                "description": "Minimum last login at date, ISO date format (YYYY-MM-DD HH:MM:SS)"
              },
              "to": {
                "type": "string",
                "format": "date",
                "description": "Maximum last login at date, ISO date format (YYYY-MM-DD HH:MM:SS)"
              }
            }
          },
          "campaign_id": {
            "oneOf": [
              {
                "type": "integer",
                "description": "Campaign id"
              },
              {
                "type": "array",
                "description": "Array of campaign ids",
                "items": {
                  "type": "integer"
                }
              }
            ]
          },
          "state": {
            "type": "string",
            "enum": [
              "pending",
              "accepted",
              "rejected",
              "blocked",
              "inactive",
              "not_set"
            ],
            "description": "Promoter state filter"
          },
          "has_wform": {
            "type": "string",
            "enum": ["yes", "no"],
            "description": "Has wform filter"
          },
          "parent_promoter_id": {
            "type": "integer",
            "description": "Parent promoter id"
          },
          "archived": {
            "type": "string",
            "enum": ["true", "false", "`true`", "`false`", "`yes`", "`no`"],
            "description": "Archived filter"
          },
          "subscribed_to_email": {
            "type": "string",
            "enum": ["true", "false", "`true`", "`false`", "`yes`", "`no`"],
            "description": "Subscribed to email filter"
          },
          "custom_field1": {
            "$ref": "#/components/schemas/CustomFieldFilter"
          },
          "custom_field2": {
            "$ref": "#/components/schemas/CustomFieldFilter"
          },
          "fraud_suspicions": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "same_ip_suspicion",
                "same_promoter_email",
                "ad_source",
                "no_suspicion"
              ],
              "description": "Suspicion type filter"
            }
          }
        }
      },
      "CustomFieldFilter": {
        "type": "object",
        "required": ["key", "operator", "value"],
        "properties": {
          "key": {
            "type": "string",
            "description": "The key custom_field key"
          },
          "operator": {
            "type": "string",
            "enum": ["exact", "partial"],
            "description": "The custom field operator"
          },
          "value": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "The value of the custom field. Must be String or Array of strings"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Access token passed as a Bearer token in the Authorization header"
      },
      "accountId": {
        "type": "apiKey",
        "in": "header",
        "name": "ACCOUNT-ID",
        "description": "Account ID required with bearer token"
      }
    }
  }
}
